[submodule "external/unitree_mujoco"]
	path = external/unitree_mujoco
	url = https://github.com/unitreerobotics/unitree_mujoco.git
[submodule "external/unitree_sdk2"]
	path = external/unitree_sdk2
	url = https://github.com/unitreerobotics/unitree_sdk2.git
[submodule "external/unitree_sim_isaaclab"]
	path = external/unitree_sim_isaaclab
	url = https://github.com/unitreerobotics/unitree_sim_isaaclab.git
